* {
    padding: 0;
    margin: 0;
}

body {
    background: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#game {
    border: 1px solid #333;
    image-rendering: pixelated;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #f2f2f2;
}

image, canvas {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}
